[submodule "analysis"]
	path = analysis
	url = git@github.com:Allyson-Robert/X-LAB_Plotting_Manager_Analysis.git
[submodule "analysis_example"]
	path = analysis_example
	url = https://github.com/Allyson-Robert/X-LAB_Plotting_Manager_Analysis_Example
