site_name: X-LAB Plotting Manager
site_description: "Graphical user interface for scientific data management and analysis"
repo_url: https://github.com/Allyson-Robert/X-LAB_Plotting_Manager

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      default_handler: python

nav:
  - Home: index.md